@mixin hover-effect {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient( 270deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
  opacity: 0;
  width: 100%;
  transition: all .3s linear;
}