.action {
  display: flex;
}
.action__item {
  max-width: 50%;
  width: 100%;
  text-align: center;
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  &.sell {
    background-color: $blue;
    background-image: url(../../images/bg-blue.svg);
    a {
      color: $blue;
    }

  }
  &.buy {
    background-color: #7347c1;
    background-image: url(../../images/bg-violet.svg);
    a {
      color: #7347c1;
    }
  }
  &-title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 27px;
  }
  &-text {
    font-size: 16px;
    line-height: 30px;
    max-width: 590px;
    color: #ffffff;
    margin-bottom: 42px;
  }
  &-btn {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 27px;
  }
}


