.statistics {
  background-color: #212225;
  padding: 95px 0;
}
.statistics__inner {
  display: flex;
  justify-content: space-between;
}
.statistics__item {
  text-align: center;
  &-number {
    font-size: 36px;
    line-height: 36px;
  }
  &-desc {
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
  }
}